body {
    font-family: Verdana, sans-serif;
    color: blue;
    font-size: calc(1vw);
  }

.title{
    color:black;
}

.line{
    height: 0.2rem;
    background-color: rgb(139, 164, 164);
    width: 70vw;
}
.acc_item{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    max-height: 70vh;
}

.bayan{
    height: 0;
    width:  0;
    align-self: center;
    transition: 0.5s;
    
}

.main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.container{
    width: 70vw;
    display: flex;
    align-content: flex-start;
}

.button:focus{
    background-color: black;
}

 .acc_item:hover > .bayan{
    height: 25vw;
    width:  25vw;
    margin-bottom: 1.2vw;
    border:solid black;
}

.item_select:focus ~ .bayan{
    height: 25vw;
    width:  25vw;
    margin-bottom: 1.2vw;
    border:solid black;
}

.acc_item:hover > .item_select{
    height: 69vh;
}

.acc_item:hover > .cross{
    opacity: 1;
}
.acc_item:hover > .plus{
    opacity: 0;
}

.item_select:focus ~ .cross{
    opacity: 1;
}
.item_select:focus ~ .plus{
    opacity: 0;
}

.item_select:focus ~ h2{
    color: black;
}

.item_select:focus{
    height: 69vh;
}

.item_container{
    display: flex;
    align-content: flex-start;
}

.cross{
    margin-top: 1vw;
    position:absolute;
    align-self: center;
    margin-left: 60vw;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s;
    font-size: 2vw;
    color: black;
}

.plus{
    margin-top: 1vw;
    position: absolute;
    align-self: center;
    margin-left: 60vw;
    font-size: 1.3vw;
    opacity: 1;
    cursor: pointer;
    color: black;
    transition: 0.3s;
}

.item_select{
    position: absolute;
    width: 70vw; 
    height: 9.4vh;
    z-index: 100;
    opacity: 0;
    align-self: stretch;
    cursor: pointer;
}

.accordion:hover{
    color: black;
}

.acc_item:last-child>.line{
    display: none;
}
